$darkblue: #14213d;
$black: #000000;
$orange: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;
html {
  height: 100vh;
}
.header {
  background-color: $darkblue;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    color: $white;
  }
}
.navigation {
  &__button {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 3.3vh;
  }
  &__list {
    display: none;
  
  &--visible{
    display: block;
    
  }
}
  &__link{
    display: block;
  }
}
.main {
  &__header {
    display: flex;
    justify-content: center;
    background-color: $platinum;
  }
}
.article {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "jeden jeden"
    "dwa dwa"
    "dwa dwa";
  &__section {
    border: solid $orange 1px;
    border-radius: 16px;
    margin: 16px;
  }
  &__title {
    background: $platinum;
    text-align: center;
    &::before {
      content: "🔸";
    }
  }
  &__text {
    font-size: 18px;
    margin: 10px;
    color: $black;
  }
}

.aboutme {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-area: jeden;
  background-color: $platinum;
  &__title {
    text-align: center;
    background-color: $platinum;
    &::before {
      display: none;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-around;
    background: rgb(4, 36, 106);
    background: linear-gradient(
      90deg,
      rgba(4, 36, 106, 1) 41%,
      rgba(252, 163, 17, 1) 75%
    );
    padding: 20px;
  }
  &__text {
    font-size: 22px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 200px;
    width: 200px;
  }
}
.footer {
  position: fixed;
  height: 50px;
  background-color: $darkblue;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  &__text {
    text-align: center;
    color: $white;
  }
}
@media (max-width: 768px) {
  .header {
    &__title {
      font-size: 20px;
    }
  }
  .article {
    grid-template-columns: 1fr;
    display: block;
  }
}
